.App {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #153677, #4e085f);
}

.form {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  width: 800px;
  margin-bottom: 20px;
}

.form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-list {
  width: 800px;
  margin-left: 250px;
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-list li.completed {
  background-color: #e0e0e0;
  text-decoration: line-through;
}

.task-list li input[type="checkbox"] {
  margin-right: 10px;
}

.task-list li span {
  flex: 1;
  cursor: pointer;
}

.task-list li button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.clear-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}